image: registry.gitlab.gnome.org/gnome/gnome-runtime-images/base:latest

stages:
  - build

gnome-runtime-linux:
  stage: build
  before_script:
    - >
      dnf install -y \
        glibc-langpack-en \
        gcc \
        gcc-c++ \
        meson \
        redhat-rpm-config \
        glib2-devel \
        harfbuzz-devel \
        fribidi-devel \
        cairo-devel \
        gobject-introspection-devel \
        cairo-gobject-devel \
        abattis-cantarell-fonts \
        desktop-file-utils
  script:
    - meson _build
    - ninja -C _build
    - cd _build; meson test --suite pango
    - cd _build; utils/pango-view --output hello.png ../HELLO.txt
  artifacts:
    name: "%CI_JOB_NAME%-%CI_COMMIT_REF_NAME%"
    when: always
    paths:
      - _build/meson-logs

msys2-mingw64:
  stage: build
  tags:
    - win32
  variables:
    MSYSTEM: "MINGW64"
    CHERE_INVOKING: "yes"
  script:
    - C:\msys64\usr\bin\pacman --noconfirm -Syyuu
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/test-msys2.sh"
  artifacts:
    name: "%CI_JOB_NAME%-%CI_COMMIT_REF_NAME%"
    when: always
    paths:
      - _build/meson-logs
