image: registry.gitlab.gnome.org/gnome/gnome-runtime-images/base:latest

stages:
  - build

gnome-runtime-linux:
  stage: build
  before_script:
    - >
      dnf install -y \
        glibc-langpack-en \
        gcc \
        gcc-c++ \
        meson \
        redhat-rpm-config \
        glib2-devel \
        harfbuzz-devel \
        fribidi-devel \
        cairo-devel \
        gobject-introspection-devel \
        cairo-gobject-devel \
        abattis-cantarell-fonts \
        desktop-file-utils
  script:
    - meson _build
    - ninja -C _build
    - meson test -C_build --suite pango
    - _build/tests/test-font -p /pango/font/metrics --verbose
    - _build/utils/pango-view --no-display --output _build/hello.png utils/HELLO.txt
    - _build/utils/pango-list --verbose > _build/fontlist.txt
  artifacts:
    name: "%CI_JOB_NAME%-%CI_COMMIT_REF_NAME%"
    when: always
    paths:
      - _build/meson-logs
      - _build/hello.png
      - _build/fontlist.txt

msys2-mingw64:
  stage: build
  tags:
    - win32
  variables:
    MSYSTEM: "MINGW64"
    CHERE_INVOKING: "yes"
  script:
    - C:\msys64\usr\bin\pacman --noconfirm -Syyuu
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/test-msys2.sh"
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/render-msys2.sh"
    - C:\msys64\usr\bin\bash -lc "bash -x ./.gitlab-ci/list-msys2.sh"
  artifacts:
    name: "%CI_JOB_NAME%-%CI_COMMIT_REF_NAME%"
    when: always
    paths:
      - _build/meson-logs
      - _build/hello.png
      - _build/fontlist.txt
      - _build/fontmetrics.txt
